<fx-mat-expansion-panel class="parameter-panel" caption="Parameter" expanded="false">
  <p>
    <mat-form-field>
      <mat-label>FallbackRoute</mat-label>
      <input matInput placeholder="FallbackRoute" [formControl]="fallbackRoute">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>FallbackText</mat-label>
      <input matInput placeholder="FallbackText" [formControl]="fallbackText">
    </mat-form-field>
  </p>
</fx-mat-expansion-panel>
<fx-mat-expansion-panel caption="Vorschau" canCollapse="false">
  <fx-mat-page-not-found [fallbackRoute]="fallbackRoute.value" [fallbackText]="fallbackText.value"></fx-mat-page-not-found>
</fx-mat-expansion-panel>